<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vinyl Tap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="gui.css">

</head>

<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="navbar-brand" href="/">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Walk_of_Fame_Category_Audio_Recording.svg/806px-Walk_of_Fame_Category_Audio_Recording.svg.png?20230312122250"
                        alt="Vinyl Tap" width="30" height="30">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 link-secondary">Vinyl Tap</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/albums">Browse</a>
                    </li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Grey_user_add_icon_%28Wikiproject_icons%29.svg/800px-Grey_user_add_icon_%28Wikiproject_icons%29.svg.png?20200310153858"
                            alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        <li><a class="dropdown-item" href="/login">Log in</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="row mb-3 text-center">
            <div class="col-md-4 themed-grid-col">
                <h4>
                    <%= album.name %>
                </h4>
                <img src="<%= album.img %>" alt="<%= album.name %>">
                <h5>Year: <%= album.year %>
                </h5>
            </div>
            <div class="col-md-8 themed-grid-col">
                <div class="pb-3">
                    <h4>Album details</h4>
                </div>
                <div class="row">
                    <div class="col-md-6 themed-grid-col">
                        <h4>Tracklist</h4>
                        <ul>
                            <% for (let i=0; i < album.songs.length; i++) { %>
                                <li>
                                    <%= album.songs[i].name %> - <%= album.songs[i].length %>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                    <div class="col-md-6 themed-grid-col">
                        <h4>Genre</h4>
                        <ul>
                            <li>
                                <%= album.genre %>
                            </li>
                            <li>
                                <%= album.subgenre %>
                            </li>
                            <li>
                                <%= album.subgenre2 %>
                            </li>
                        </ul>
                        <h4>Record Company</h4>
                        <p>
                            <%= album.recordCompany %>
                        </p>
                        <p>
                            <%= album.id %>
                        </p>
                        <form action="/addalbums/favourite"  method="POST">
                            <button name="album_id" value="<%= album.id %>" type="submit" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-emoji-heart-eyes" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z">
                                    </path>
                                    <path
                                        d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z">
                                    </path>
                                </svg>
                                Like
                            </button>

                        </form>


                    </div>
                </div>
            </div>


        </div>



    </main>



    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Michael Clarke</span>
            </div>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
</body>

</html>