<%- include ('header') %>

    <main>

        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">My profile</h2>

            <div class="row row-cols-2 row-cols-lg-3 align-items-stretch g-4 py-5">

                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm h-100">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Profile</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Profile image:</li>
                                <li>Name: <%= userdata.firstname %>
                                </li>
                                <li>Email: <%= userdata.email %>
                                </li>
                                <li>Logged in as: <%= userdata.role %>
                                </li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary" href="/editprofile">Edit
                                profile</button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm h-100">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">My albums</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Total:</li>
                            </ul>
                            <a href="/myalbums"><button type="button" class="w-100 btn btn-lg btn-outline-primary">
                                    View my albums</button></a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm h-100">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Admin</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Add album</li>
                                <li>Edit album</li>
                                <li>Delete album</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Admin access</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>




    </main>
    <%- include ('footer') %>