<%- include ('header') %>

    <main class="text-center">
        <img src="<%= album.img %>">
        <p>
            <%= album.name %>
                <%= album.year %>
        </p>
    </main>



    <%- include ('footer') %>